@model IEnumerable<Kategori>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Film Dükkânı - Kategoriler</h3>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.KategoriAdi)</th>
                    <th>@Html.DisplayNameFor(model => model.Aciklama)</th>
                    <td></td>
                </tr>


            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>


                        <td>@item.Id </td>
                        <td>@item.KategoriAdi </td>
                        <td><p>@item.Aciklama</p></td>
                        <td>
                            <a class="btn btn-success float-right"
                           asp-action="Update"
                           asp-controller="Kategori"
                           asp-route-id="@item.Id">Güncelle</a>
                            <a class="btn btn-danger float-right"
                           asp-action="Delete"
                           asp-controller="Kategori"
                           asp-route-id="@item.Id" value="Sil">Sil</a>

                        </td>

                    </tr>

                }
            </tbody>
        </table>
        <div class="card-footer">
            <div class="form-group">

                <a class="btn btn-primary float-right" 
                   asp-action="Create"
                   asp-controller="Kategori">Yeni Kategori</a>


            </div>

        </div>
    </div>
</div>


