@model IEnumerable<Film>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    @if (User.Identity.IsAuthenticated == true)
    {
         @if (User.IsInRole("admin"))
    {
    <a class="btn btn-primary" asp-action="Create">Film Ekle</a>
    }
        <div class="row">

            @foreach (var item in Model)
            {
                
                    <div class="card col-md-3" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="card-title">@item.FilmAdi</h1>
                            <h6 class="card-subtitle mb-2 text-muted">@item.YapimYili</h6>
                            <p class="card-text">@item.Aciklama</p>

                            @if (User.IsInRole("admin"))
                            {
                                
                                
                                <a class="btn btn-outline-success float-center"
                           asp-controller="Film"
                           asp-route-id="@item.Id"
                           asp-action="Update">Güncelle</a>
                                
                      
                                <a class="btn btn-outline-danger float-center"
                           asp-controller="Film"
                           asp-route-id="@item.Id"
                           asp-action="Delete">Sil</a>

                            <a asp-action="Details" 
                            asp-controller="Film" 
                            asp-route-id="@item.Id" class="card-link btn btn-info float-center">Detay</a>
                        }
                            else
                            {
                            <a asp-action="Details" asp-controller="Film" asp-route-id="@item.Id" class="card-link btn btn-info float-center">Detay</a>
                            <a class="card-link btn btn-danger float-center">Sepete Ekle</a>
                            }


                        </div>
                    </div>
                
            }

        </div>
    }




    

</body>
</html>
