@model IEnumerable<Film>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>


    <table class="table table-success table-striped-columns">
        <thead>
            <tr>

                <th>Id</th>
                <th>Film Adı</th>
                <th>KategoriId</th>
              
                <th>Fiyat</th>
                <th>Yönetmen</th>
                <th>Yapım</th>               
                


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FilmAdi</td>
                    <td>@item.FilmKategorileri</td>
                    
                    <td>@item.Fiyat</td>
                    <td>@item.Yonetmeni</td>
                    <td>@item.YapimYili</td>
                    

                    @*<td>
                        @{
                            byte[]? photo;
                            string imgSrc = null;
                            if (item.Fotograflar.Count > 0)
                            {
                                foreach (var resim in item.Fotograflar)
                                {
                                    photo = resim.Foto;
                                    if (photo != null)
                                    {
                                        MemoryStream ms = new();
                                        ms.Write(photo, 78, photo.Length - 78);
                                        var base64 = Convert.ToBase64String(ms.ToArray());
                                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                }
                            }
                        }
                        <img src="@imgSrc" class="img-tumbnail" />
                    </td>*@
                    @*@if (User.Identity.IsAuthenticated == true)
                    {*@
                    <td>
                        <a class="btn btn-outline-success"
                   asp-controller="Film"
                   asp-route-id="@item.Id"
                   asp-action="Update">Güncelle</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary"
                   asp-controller="Film"
                   asp-route-id="@item.Id"
                   asp-action="Details">Detay</a>
                    </td>

                   <td>
                        <a class="btn btn-outline-danger"
                   asp-controller="Film"
                   asp-route-id="@item.Id"
                   asp-action="Delete">Sil</a>
                    </td>
                    @*}*@


                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary float-right" asp-action="Create">Film Ekle</a>
</body>
</html>
