
@model IEnumerable<FilmListDto>

<a class="btn btn-primary" asp-action="Create">Film Ekle</a>
<table class="table table-hover">
    <thead>
        <tr>


            <td>Film Adı</td>
            <td>Açıklama</td>
            <td>Yönetmen</td>
            <td>Özet</td>
            <td>Yapım Yılı</td>
            <td>Resim</td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.FilmAdi</td>
                <td>@item.Aciklama</td>
                <td>@item.Yonetmeni</td>
                <td>@item.Ozeti</td>
                <td>@item.YapimYili</td>
                <td>
                    @{
                        byte[] photo = item.Resim;
                        string imgSrc = null;
                        if (photo != null)
                        {

                            MemoryStream ms = new();
                            ms.Write(photo, 78, photo.Length - 78);

                            var base64 = Convert.ToBase64String(ms.ToArray());
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                    }
                <td><img src="@imgSrc" class="img-tumbnail" /></td>
                </td>
                
                <td>
                    <a class="btn btn-primary" asp-action="Update">Güncelle</a>
                    <a class="btn btn-primary" asp-action="Delete">Sil</a>
                </td>

            </tr>
        }
    </tbody>
</table>