@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Rol Liste</h4>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Rol</th>
                                <th>Kullanıcı</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td user-role="@item.Id">@item.Id</td>
                                    <td>
                                        <a asp-action="AssignedUser"
                                       asp-controller="Role"
                                       asp-route-id="@item.Id"
                                       class="btn btn-outline-success">Rol Atama</a>
                                    </td>
                                    <td>
                                        <a asp-action="Remove"
                                       asp-route-id="@item.Id"
                                       class="btn btn-outline-dark">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="Create"
                   class="btn btn-outline-info">Oluştur</a>

            </div>
        </div>
    </div>
</div>